{% extends "layouts/base.html" %}
{% load humanize %}

{% block context %}
<section>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for pizza in pizza_list %}
        <div class="col">
            <div class="card  shadow h-100">
                <img src="{{ pizza.image.url }}" class="card-img-top" alt="{{ pizza.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ pizza.name }}</h5>
                    <div>
                        <strong class="text-custom"> &#2547; {{ pizza.price }}</strong>
                        <button type="button" onclick="createOrder({{ pizza.id }})" class="btn btn-sm btn-danger float-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                            </svg>
                        </button>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section class="mt-5">
    <h4 class="text-center mb-2">All Orders</h4>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Order #</th>
                    <th>Purchased</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>
                        <a class="text-custom" href="{% url 'order_details' order.id %}">{{ order.order_id }}</a>
                    </td>
                    <td>{{ order.date|naturaltime }}</td>
                    <td><span class="badge bg-light text-dark">{{ order.status }}</span></td>
                    <td> &#2547; {{ order.amount }}</td>
                    <td>
                        <a href="{% url 'order_details' order.id %}" class="btn btn-sm btn-danger">View</a>
                    </td>
                </tr>
                {%  endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
function createOrder(id){

    const formData = new FormData();
    formData.append('pizza_id', id);

    axios.post('/api/order/', formData)
    .then(function (response) {
        console.log(response);
        window.location.reload();
    })
    .catch(function (error) {
        console.log(error);
    });
}
</script>
{% endblock %}